@import 'setup';

//Variables Variables Variables Variables Variables Variables Variables Variables 
$grey: #434343;
$white: #e8eddf; //rgba(232, 237, 223, 100)
$orange: #f5cb5c;
$color5: #333533; //rgba(51, 53, 51, 100)
$dark: #212121;
$lato: 'Lato', sans-serif;
$roboto: 'Roboto Condensed', sans-serif;

//Global Styles Global Styles Global Styles Global Styles Global Styles Global Styles 
html{
	font-size: 62.5%;
}

body{
	background: $grey;
	font-family: $lato;
	margin: 0;
	padding: 0;
}

.wrapper{
	max-width: 960px;
	margin: 0 auto;
//	padding-left: 4rem;
}

.flex{
	display: flex;
	flex-wrap: wrap;
}

.column{
	flex-direction: column;
}

//Typography Typography Typography Typography Typography Typography Typography 
h1{
	color: $orange;
	margin: 0;
	padding: 3rem 0 1.5rem;
	text-align: left;
	font-size: 8rem;
	font-weight: 700;
	a{
		text-decoration: none;
		color: $orange;
		transition: color 1s;
		&:hover, &:focus{
			color: white;
		}
	}
}

h3{
	margin: 0;
	padding: 1rem 0;
	text-align: left;
	font-size: 3rem;
	color: $white;
}

h4{
	margin: 0 0 1.5rem;
	text-align: left;
	font-size: 5rem;
	color: $orange;
	font-weight: 200;
}

p{
	color: $white;
	font-weight: 300;
	font-size: 1.9rem;
	line-height: 3.5rem;
	text-align: left;
	letter-spacing: 0.1rem;
	padding: 0;
}

//Section Styling Section Styling Section Styling Section Styling Section Styling 


header{
	padding: 4rem 0 0 0;
	img{
		width: 8%;
		cursor: pointer;
	}
}

.genreCount {
	font-size: 1.8rem;
	font-weight: 400;
	padding-right: 25%;
	line-height: 1.5;
}

.welcomeInfo{
	align-content: center;
	justify-content: space-between;
	height: 100%;
}

.topText {
	font-weight: 400;
	font-size: 2.4rem;
	padding-right: 25%;
	line-height: 1.5;
	letter-spacing: .1;
	margin-bottom: 3rem;
}

//Search Area Search Area Search Area Search Area Search Area Search Area 

section.searchArea {
	justify-content: flex-start;
}

label{
	color: $orange;
	text-align: left;
	font-size: 2.2rem;
	margin-bottom: 2rem;
}

.searchForm {
	width: 50%;
	margin: 0 auto;
	padding: 2rem 0;
	text-align: left;
	align-items: flex-start;
	justify-content: center;
	input{
		width: 60%;
		color: #000;
		height: 4rem;
		font-size: 1.4rem;
		border: 0;
		background: $white;
		padding: 1rem;
		border-radius: 0;
	}
	button{
		padding: 1rem;
		font-size: 1.4rem;
		background: $orange;
		color: $color5;
		border: 0;
		height: 4rem;
		width: 8rem;
		transition: color 1s, background 1s;
		&:hover, &:focus{
			color: $white;
			background: $color5;
		}
	}
}

.userInput{
	width: 100%;
}

#similar {
	text-align: left;
	font-size: 3.6rem;
	color: $white;
	font-weight: 300;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	border-top: 1px solid $white;
}

.similarDiv {
	padding: 1rem 0;
}

#errors{
	margin-bottom: 1rem;
}

//Results Results Results Results Results Results Results Results Results 
	
.resultParent{
	width: calc(50% - 5rem);
	margin: 1rem 5rem 1rem 0;
	align-items: flex-start;
	img{
		padding-top: 2rem;
	}
}

ul.artistUL{
	list-style: none;
	color: $white;
	font-weight: 400;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	li{
		font-size: 2rem;
		flex: 1 0 50%;
		text-align: left;
		color: $white;
		font-weight: 400;
		padding: .5rem 0;
	}
	a{
		text-decoration: none;
		color: $orange;
		transition: color 0.6s;
		&:hover, &:focus{
			color: $white;
		}
	}
}

.artistResult{
	margin-top: 1rem;
	img{
		height: 4rem;
	}
}

#resultContainer {
	padding: 1rem 0 15rem;
	.genreResult{
		margin-top: 2rem;
		color: $orange;
	}
	h3{
		color: $white;
		text-align: left;
		font-weight: 400;
		a{
			text-decoration: none;
			color: $white;
			transition: color 0.6s;
			margin-left: 1rem;
			&:hover, &:focus{
				color: $orange;
			}
		}
	}
	.artistResult h3{
	}
}

.resultFromArtist{
	flex: 1 0 33.33%;
}

.artistsBelow{
	font-weight: 200;
	color: $white;
	letter-spacing: 0.6rem;
	font-size: 3rem;
	border-bottom: solid 1px $white;
	padding-bottom: 1.2rem;
}

//Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer 
					
footer{
	padding: 1rem 0;
	background: $dark;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	.footerInfo {
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	img{
		padding: 1rem 1rem 0;
		border-radius: 1rem;
		margin-bottom: -1.4rem;
		transition: border-left 1s, border-right 1s;
		&:hover, &:focus, &:active{
			border-left: 5px solid $orange;
			border-right: 5px solid $orange;
		}
	}
	p{
		color: $white;
		font-size: 1.6rem;
		font-weight: 400;
		margin: 0;
		a{
			text-decoration: none;
			color: $white;
			font-weight: 900;
			transition: color 1s;
			&:hover,&:focus{
				color: $orange;
			}
		}
	}
}

//Media Queries Media Queries Media Queries Media Queries Media Queries Media Queries 

@media all and (max-width: 1019px) {
	.wrapper{
		padding-left: 3rem;
		padding-right: 3rem;
	}
	#similar{
		padding-left: 1rem;
	}
	.similarDiv{
		padding-left: 0;
		padding-right: 0;
	}
	#resultContainer h3{
		font-size: 2.4rem;
	}
	.resultFromArtist{
		padding-left: 1.4rem;
	}
	.resultParent{
		padding-left: 1rem;;
	}
}

@media all and (max-width: 698px) {
	header{
		padding-top: 2rem;
	}
	h1{
		font-size: 5rem;
		padding-top: 2rem;
	}
	.hvr-pulse{
		width: 13%;
	}
	.genreCount {
		padding-right: 2rem;
		font-size: 1.6rem;
	}
	.topText {
		padding-right: 2rem;
		font-size: 2rem;
}
	.resultParent {
		width: 100%;
	}
}

@media all and (max-width: 599px) {
	.searchForm {
		width: 100%;
		margin: 0;
	}
	footer{
		.wrapper{
			padding: 0 1rem 0 1rem;
//			justify-content: flex-start;
		}
		p{
			font-size: 12px;
		}
		.echoLogo {
			img{
				height: 30px;
			}
		}
	}
	.resultFromArtist{
		flex: 1 0 50%;
	}
}

@media all and (max-width: 360px) {
	#resultContainer{
		padding: 1rem 1rem;
		h3{
		font-size: 1.8rem;
		}
		.genreResult {
			font-size: 3rem;	
		}
	}
	.artistResult img {
		height: 2.4rem;
	}
	#resultContainer h3 a{
		margin-left: 0.5rem;
	}
	.resultFromArtist{
		padding-left: 0;
	}
}